<div class="row header" style="width: 100%">
    <div style="padding: 0;">
        <a class="header-icon nav-link active" routerLink="">
            <i class="pi pi-home"></i>
        </a>
    </div>
    <div class="col" style="max-width: 6.2%">
        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="lista-bolsista">Bolsistas</a>
                </li>
            </ul>
        </div>
    </div>
</div>
